/*comienza pagina ayuda*/
.subtituloayuda{
    font-size: 75px;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border: 5px solid; 
    border-radius: 30px;
}
.preguntasfrecuentes{
    font-size: 50px;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border: 5px solid;
    border-radius: 30px;
}
.rangodecobertura{
    font-size: 25px;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border: 5px solid;
    border-radius: 30px;
}
.contactoayuda{
    font-size: 30px;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border: 5px solid;
    border-radius: 30px;
}

/*Prueba pagina ayuda con bootstrap*/
.titulobtsayuda{
    text-align: center;
    
}
.columnasayudabts{
    text-align: center;
}
.subtituloayudabts{
    text-align: center;
}
.seccionayudabts{
    height: 20%;
    text-align: center;
    align-items: flex-start;
}
.gridsayudabts{
    display: grid;
    width: 100%;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas:  
    "ele1 ele2 ele2"
    "ele1 ele3 ele5"
    "ele1 ele3 ele5"
}