/*comienza pagina ayuda*/
.subtituloayuda{
    font-size: 75px;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border: 5px solid; 
    border-radius: 30px;
}
.preguntasfrecuentes{
    font-size: 50px;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border: 5px solid;
    border-radius: 30px;
}
.rangodecobertura{
    font-size: 25px;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border: 5px solid;
    border-radius: 30px;
}
.contactoayuda{
    font-size: 30px;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border: 5px solid;
    border-radius: 30px;
}