/*Pagina de prueba para suplantar a la de compania*/
.booststraptitulo{
    text-align: center;
    font-size: 70px;
    margin-bottom: 0;
    margin: 1rem;

}
.parrafosbootstrap{
    margin-bottom: 0;
    
}
.subtitulobootstrap{
    margin-bottom: 0;
    text-align: center;
}

.imagenbootstrap{
    margin: 1rem;
}
.linkbootstrap{
    text-decoration: none;
    color: grey;
}